@define-color selected-text #d18ba2;
@define-color text #c8c8c8;
@define-color base #282828;
@define-color border #79A89E;
@define-color foreground #d4be98;
@define-color background #282828;

window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 18px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .box-wrapper {
    background: alpha(@base, 1);           /* dark transparency */
    border: 2px solid alpha(@border, 0.9);    /* visible border */
    border-radius: 5px;
    padding: 4px;
    margin: 0;
    box-shadow: 0 2px 12px alpha(black, 0.85);
    backdrop-filter: blur(1px);
    line-height: 10%;
    }

window .search-container {
    border: 2px solid alpha(@border, 0.2);    /* visible border */
    border-radius: 3px;
    padding: 4px 6px;
    margin: 0x;
    background: alpha(@border, 0.65);            /* slightly transparent */
    box-shadow: inset 0 0 6px alpha(white, 0.0);
    backdrop-filter: blur(1px);
    line-height: 1em;
}


window .input {
    background: transparent;
    color: @text;
}

window .preview {
    border: 0px solid alpha(@border, 0);
    border-radius: 4px;
    background: alpha(@base, 0.5);
    color: @text;
    padding: 10px 10px 10px;
    margin: 10px 0px 10px;
    box-shadow: inset 0 0 8px alpha(white, 0);
    backdrop-filter: blur(8px);
    line-height: 1em;
}
